#
# EXAMPLE3:
# Load in two data sources each containing multiple
# ensemble members. Illustrates how a subdomain can
# be chosen (grid:subgrid:[x1,x2,y1,y2]). Illustrates
# how difference plots between either forecast
# members from same data source can be plotted, or
# how differences between different data sources
# can be plotted.
#
data:
  1:
    tmpl: local_fa_pl
    exp:  ["cy49_spp_p01"]
    ensm: [0,1,2]
    flds: ["SURFTEMPERATURE"]
  2:
    tmpl: local_fa_pl
    exp:  ["cy46_spp_p01_fix2"]
    ensm: [0,1,2]
    flds: ["SURFTEMPERATURE"]

times:
  sdate: 2025072412
  lead_times: 24

grid:
  subgrid: [300,738,200,600]
  regrid: true

opts:
  fig_name: "fig/example3.png"
  fig_size: [20,15,300] # [width,heigh,dpi]

# plot:
#   row1:
#     column1:
#       ...
#     column2:
#       ...
#   row2:
#     column1:
#       ...
#     column2:
#       ...
plot:
  1:
    1:
      type: "fc"
      data1: 1
      ensm: [0,1]
      name: "member"
      col_map: 1
    2:
      type: "ens_mean"
      data1: 1
      name: "ensm"
      col_map: 1
    3:
      type: "ens_sd"
      data1: 1
      name: "enssd"
      col_map: 4
  2:
    1:
      type: "copy" # This copies the first row setup
                   # but uses data1+1 as data source
  3:
    1:
      type: "diff"
      data1: 1
      data2: 1 # When type is "diff", also need to specify
               # which other data source is used
      ensm: [0,1]
      name: "diff"
      col_map: 2
    2:
      type: "diff"
      data1: 1
      data2: 2
      ensm: [0]
      name: "diff"
      col_map: 2
    3:
      type: "diff"
      data1: 1
      data2: 2
      ensm: ["ens_mean"]
      name: "diff"
      col_map: 2
    4:
      type: "diff"
      data1: 1
      data2: 2
      ensm: ["ens_sd"]
      name: "diff"
      col_map: 3

col_maps:
  1:
    name: "t2m_warm"
    breaks: "seq(10,34,3)"
  2:
    name: "diff"
    breaks: "seq(-4.5,4.5,1)"
  3:
    name: "diff"
    breaks: "seq(-2,2,0.4)"
  4:
    name: "sdev"
    breaks: "c(0.1, 0.2, 0.3, 0.5, 1, 1.5, 2)" # A list of vals
